// ─── Breakpoints ─────────────────────────────────────────────────────────────
$bp-xs: 375;
$bp-sm: 640;
$bp-md: 769;
$bp-lg: 1024;
$bp-xl: 1280;
$bp-2xl: 1440;
$bp-3xl: 1920;
$container-padding-desktop: 20;

/*Colors*/
$primary-color: #155e4e;
$secondary-color: #059669;
$tertiary-color: #d97706;

$gray-44: #444444;
$gray-e4: #e4e4e4;
$gray-78: #78716c;

$white: #ffffff;
$black: #000000;

$bg-color: #fafaf9;
$bg-footer: #1c1917;

/*Fonts*/
$font-family-text:
  "Noto Sans KR", "Segoe UI", "Microsoft Sans Serif", sans-serif;
$font-family-serif:
  "Noto Serif KR", "Segoe UI", "Microsoft Sans Serif", sans-serif;
