@use "abstracts/mixins";
@use "abstracts/variables";

@use "base/reset";
@use "base/typography";

// 레이아웃 & 페이지
@use "layouts/header";
@use "layouts/footer";

@use "pages/main";
@use "pages/auth";
@use "pages/register";
@use "pages/restaurants";

// 컴포넌트
@use "components/card-list";

body {
  background-color: $bg-color;
}

.inner {
  max-width: 1320px;
  width: 100%;
  margin-inline: auto;
  padding-inline: rem(20);
}

.main {
  min-height: 50dvh;
  padding-block: rem(100);
}
